body {
    background: #FFF 0px 0px;
}

@media only screen and (max-width: 500px) {
    #article h1 {
        text-align: center;
        color: black;
        font-size: 16px;

    }
    #article p {
        margin: 10px;
        text-align: justify;
    }
}

#article h1 {
    text-align: center;
    color: black;
}

#article p {
    margin: 10px;
}


#sidebar a {
    margin-left: 10px;
}
#sidebar p {
    margin-left: 20px;
}

footer {
    background: #ccc;
}

footer a {
    margin: 10px;
}

#left a {
    display: block;
    margin: 0px;
}

#right {
    padding-top: 35px;
}
